.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10%;
    min-height: fit-content;
    background-image: url("../../assets/home/bg.jpg");
}